# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# MySQL dumps
*.sql

# Jupyter Notebooks
.ipynb_checkpoints/

# Others
*.sqlite3
*.db
